.lp-flex1 {
    flex: 1 1 auto !important;
}

.lp-flex {
    display: flex;
}

.svgIcon-use {
    fill: white;
}

.lp-relative {
    position: relative !important;
}

.lp-search-icon {
    display: inline-block !important;
    padding-left: 10px;
    height: 38px
}

.lp-search-input {
    font-size: 14px;
    outline: 0;
    background: transparent;
    display: inline-block;
    vertical-align: middle;
    color: white;
    height: 37px;
    border: none;
    transition: width .2s,padding .2s;
}

.lp-m-r-20 {
    margin-right: 20px;
}

input[type="search"].lp-search-input::-webkit-input-placeholder {
    color: white;
}

input[type="password"].form-control {
    letter-spacing: 10px !important;
}

.footer-wrap {
    border-top: 1px solid rgba(0,0,0,.05)!important;
    flex-wrap: wrap;
    word-break: break-word;
    word-wrap: break-word;
    padding: 10px 20px 25px;
}

.footer-link {
    font-size: 14px !important;
    color: rgba(0,0,0,.44)!important;
    fill: rgba(0,0,0,.44)!important;
    text-decoration: none;
    cursor: pointer;
    margin-right: 16px;
}

nav {
    background: #5cb85c;
}

.white {
    color: white !important;
}

.white .nav-link {
    color: white !important;
}

.navbar-brand {
    color: white !important;
}
